
<% @books.each do |book| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= link_to book.title, book_path(book) %></h1><br />
    <h2><%= link_to book.sub_title, book_path(book) %></h2><br />
    <i><%= book.authors.map(&:full_name).join(', ') %></i><br />
    <p><%= book.genre %></p><br />
    <p><%= book.classification %></p><br />
    <p><%= book.prose %></p><br />
    <p><%= book.year %></p><br />
  </div>
<% end %>