<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>

<% @books.each do |book| %>
  <div>
    <h1><%= book.title %></h1><br />
    <i><%= book.author %></i><br />
    <p><%= book.genre %></p><br />
    <p><%= book.classification %></p><br />
    <p><%= book.type %></p><br />
    <p><%= book.year %></p><br />
  </div>

  <hr />
<% end %>